html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;

    font-family: 'Roboto';font-size: 22px;
}
/* header styles starts */
header{
    background-image: url(img/banner-bg.jpg);
    height: 60vh;
    border-radius: 0px 0px 70px 70px;
    display: flex;
    justify-content: space-around;
    


}



.header_logo{
    margin-top: 50px;
}
nav ul{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 70px;
}
nav ul li a{
    color: white;

}





nav ul li:nth-child(1):hover{
    background-color: rgb(29, 72, 230);
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    margin-top: -10px;
    transition: .4s;
}
nav ul li:nth-child(2):hover{
    background-color: rgb(29, 72, 230);
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    margin-top: -10px;
    transition: .4s;
}
nav ul li:nth-child(3):hover{
    background-color: rgb(29, 72, 230);
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    margin-top: -10px;
    transition: .4s;
}
nav ul li:nth-child(4){
    background-color: rgb(29, 72, 230);
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    margin-top: -10px;
    transition: .4s;
}
nav ul li:nth-child(5){
    background-color: rgb(183, 7, 7);
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    margin-top: -10px;
}


/* h1 section */
.heading h1{
    position: absolute;
    margin-top: -200px;
    font-size: 60px;
    color: white;
    font-weight: bold;
    margin-left: 43%;
}

/* contact us say hallo saction starts */

.say_hallo{
    width: 600px;
    height: 600px;
    background-color: #ead9d9;
    border-radius: 30px;
    /* position: absolute;
    margin-top: -400px; */
    margin-left: 200px;
    margin-top: 100px;
    text-align: left;
    padding-left: 50px;
    padding-top: 50px;
    box-sizing: border-box;
}
.say_hallo span{
    font-weight: bolder;
    font-size: 15px;
}
.say_hallo h3{
    color: rgb(183, 7, 7);
}
.say_hallo h2{
    font-size: 40px;
    font-weight: 900;
    margin-top: 20px;
}
.say_hallo p{
    font-size: 15px;
    /* font-weight: bold; */
    margin-top: 20px;
    line-height: 30px;
}



iframe{
    margin-left: 60%;
    position: absolute;
    margin-top: -650px;
    width: 30%;
    height: 300px;
    border-radius: 30px;
}




form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 60%;
    gap: 30px;
    margin-top: -310px;
}
form input{
    padding-left: 10px;
    height: 50px;
    border-radius: 40px;
    font-size: 15px;
    width: 200px;
    border: 1px solid grey;
    background-color: #ead9d9;
}
form :nth-child(5){
    width: 445px;
    height: 150px;
    
}
form button{
    margin-top: 20px;
    background-color:rgb(183, 7, 7) ;
    height: 50px;
    width: 200px;
    border: 1px solid rgb(183, 7, 7);
    border-radius: 30px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
form button:hover{
    background-color: blue;
    border: 1px solid blue;
    transition: .4s;
}













/* footer section starts */
footer{
    height: 200px;
    width: 100%;
    background-color: rgb(29, 72, 230);
    margin-top: 200px;
    border-radius: 170px 170px 0px 0px;
    
}
footer p{
    color: white;
    text-align: center;
    padding-top: 50px;
}

.to-top{
    background: rgb(34, 0, 255);
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 5%;
    display: flex;
    align-items: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding-left: 10px;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
 
 
 }
 .to-top.active{
     bottom: 32px;
     pointer-events: auto;
     opacity: 1;
     
 } 



 /* loader styles */


 .loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #010b15;
    transition: opacity 0.75s, visibility 0.75s;
}
.loader-hidden{
    opacity: 0;
    visibility: hidden;
}
.loader::after{
    margin-top: 350px;
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: rgb(30, 0, 255);
    border-radius: 50%;
    animation: loading 1.75s ease infinite;
}
@keyframes loading{
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}